
.dashboard {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 450px;
}
.dashboard-logo {
    width: 100px;
    height: 100px;
    margin: 0 0 1em 1em;
    float: left;
}
.dashboard-text {
    /* position: absolute;
    top: 200px;
    left: 20px;
    width: 100%; */
    color: saddlebrown;
}
