.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: left;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.validation-message {
  font-weight: bold;
  color: tomato
}

/* Small screens */
@media all and (max-width: 600px) {
  /* We tell the list share a row */
  .line-item { flex: 1 auto; }
  .main-content { 
    min-height: 100vh
  }
}

/* Medium and Large screens */
@media all and (min-width: 600px) {
  .footer    { order: 1; }
  .list-content { 
    order: 2; 
  }
  .dashboard {
    order: 2; 
  }
}