.footer {
    background: saddlebrown;
    margin-top: 10px;

    /* position: fixed;
    bottom: 0;
    right: 0;
    width: 100%; */
}
button {
    font-family: inherit;
    display: inline-block;
    border-radius: 4px;
    background-color: #cba822;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}
.footer span {
    margin-left: 5px
}
